header {
  display: flex;
  height: 400px;
  width: 100vmax;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Bungee', cursive, sans-serif;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #779cab;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); opacity: .75;
  
}

